<html>
<head></head>
<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" id="aaaa" style="border-collapse:collapse; background-color:#1f1f1f;">
	<tbody><tr>
		<td align="center" valign="top" id="Tem_FullBox" style="width:100%; height:100%; padding:10px; box-sizing:border-box;">
			<table border="0" cellpadding="0" cellspacing="0" width="650" class="Tem_Container">
				<tbody>
				<tr>
					<td valign="top" id="aaaaaa" style="background-color:#ffffff;">

						
						<table border="0" cellpadding="0" cellspacing="0" class="dddddd" width="100%" align="center">
							<tbody><tr>
								<td class="bbbbbb" align="center" valign="top">
									<div class="cccccc" id="000000">
										<div class="eeeeee" data-tooltype="image">
											<div class="ffffff">
												<table border="0" cellpadding="0" cellspacing="0" width="100%" class="gggggg" align="center">
													<tbody><tr>
														<td align="center" valign="top">
															<table border="0" cellpadding="0" cellspacing="0" width="100%" class="jjjjjj">
																<tbody><tr>
																	<td align="center" valign="top" class="hhhhhh"><img width="650" class="kkkkkk" src="https://store.heytapimage.com/cdo-portal/feedback/202204/25/cf36c0a165a045214ff6693b12942613.png" style="display:block; width:30% !important; height:auto !important;"></td>
																</tr>
															</tbody></table>
														</td>
													</tr>
												</tbody></table>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody></table>



						<table border="0" cellpadding="0" cellspacing="0" class="dddddd" width="100%" align="center">
							<tbody><tr>
								<td class="bbbbbb px20" align="center" valign="top" style="padding:0 40px;">
									<div class="cccccc" id="111111">
										<div class="eeeeee" data-tooltype="divider">
											<div class="ffffff">
												<table border="0" cellpadding="0" cellspacing="0" width="100%" class="gggggg">
													<tbody><tr>
														<td align="left" valign="top">
															<table border="0" cellpadding="0" cellspacing="0" width="100%">
																<tbody><tr>
																	<td valign="top" class="pppppp" style="padding:20px 0;">
																		<table border="0" cellpadding="0" cellspacing="0" width="100%" class="qqqqqq">
																			<tbody><tr>
																				<td class="oooooo" style="border-top:0; height:0; line-height:0; font-size:0;"></td>
																			</tr>
																		</tbody></table>
																	</td>
																</tr>
															</tbody></table>
														</td>
													</tr>
												</tbody></table>
											</div>
										</div>
									</div>
									<div class="cccccc" id="222222">
										<div class="eeeeee" data-tooltype="text">
											<div class="ffffff">
												<table border="0" cellpadding="0" cellspacing="0" width="100%" class="gggggg">
													<tbody><tr>
														<td align="left" valign="top" style="padding:0;">
															<table border="0" cellpadding="0" cellspacing="0" width="100%">
																<tbody><tr>
																	<td valign="top" class="rrrrrr" style="color:#313131; font-family:'Trebuchet MS', Arial; font-size:36px; line-height:1.2; text-align:center; mso-line-height-rule:exactly;"><div class="llllll"><div class="mmmmmm" dir="ltr"><div class="nnnnnn" dir="ltr" contenteditable="true" aria-disabled="false" spellcheck="true">Incident Detected!</div></div></div></td>
																</tr>
															</tbody></table>
														</td>
													</tr>
												</tbody></table>
											</div>
										</div>
									</div>
									<div class="cccccc" id="333333">
										<div class="eeeeee" data-tooltype="image">
											<div class="ffffff">
												<table border="0" cellpadding="0" cellspacing="0" width="100%" class="gggggg" align="center">
													<tbody><tr>
														<td align="center" valign="top" style="padding:10px 0;">
															<table border="0" cellpadding="0" cellspacing="0" width="100%" class="jjjjjj">
																<tbody><tr>
																	<td align="center" valign="top" class="hhhhhh"><img width="570" class="kkkkkk" src="http://edm.focussend.cn/focussend/cust/focussend/ThemeTemplate/images/Weeklyline.png" style="display:block; width:100% !important; height:auto !important;"></td>
																</tr>
															</tbody></table>
														</td>
													</tr>
												</tbody></table>
											</div>
										</div>
									</div>
									<div class="cccccc" id="444444">
										<div class="eeeeee" data-tooltype="text">
											<div class="ffffff">
												<table border="0" cellpadding="0" cellspacing="0" width="100%" class="gggggg">
													<tbody><tr>
														<td align="left" valign="top" style="padding:0;">
															<table border="0" cellpadding="0" cellspacing="0" width="100%">
																<tbody><tr>
																	<td valign="top" class="rrrrrr" style="color:#919191; font-family:'Trebuchet MS', Arial; font-size:14px; line-height:1.6; text-align:center; mso-line-height-rule:exactly;"><div class="llllll"><div class="mmmmmm" dir="ltr"><div class="nnnnnn" dir="ltr" contenteditable="true" aria-disabled="false" spellcheck="true">Please log in to the incident detection system to check</div></div></div></td>
																</tr>
															</tbody></table>
														</td>
													</tr>
												</tbody></table>
											</div>
										</div>
									</div>
									
									<div class="cccccc" id="555555">
										<div class="eeeeee" data-tooltype="divider">
											<div class="ffffff">
												<table border="0" cellpadding="0" cellspacing="0" width="100%" class="gggggg">
													<tbody><tr>
														<td align="left" valign="top">
															<table border="0" cellpadding="0" cellspacing="0" width="100%">
																<tbody><tr>
																	<td valign="top" class="pppppp" style="padding:20px 0;">
																		<table border="0" cellpadding="0" cellspacing="0" width="100%" class="qqqqqq">
																			<tbody><tr>
																				<td class="oooooo" style="border-top:0; height:0; line-height:0; font-size:0;"></td>
																			</tr>
																		</tbody></table>
																	</td>
																</tr>
															</tbody></table>
														</td>
													</tr>
												</tbody></table>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody></table>
					</td>
				</tr>
			</tbody></table>
		</td>
	</tr>
</tbody></table>
</body>
</html>